<div class="container">
  <h1>Question #<span class="counter">1</span>:</h1>
  <p>{{question}}</p>

  <ul id="mc">
    {{#each answers}}
    {{#if this.correct}}
      <li class="mc-btn"><button class="correct" data-correct="true">{{this.answer}}</button></li>
    {{else}}
      <li class="mc-btn"><button class="incorrect" data-correct="false">{{this.answer}}</button></li>
    {{/if}}
  {{/each}}
  </ul>
</div>
