<div class="container">
  <h1>{{ title }}</h1>
  <select class="">
    <option value="Option 1">Select a Category:</option>
    <option value="Option 2">General Knowledge</option>
    <option value="Option 3">Entertainment: Comics</option>
    <option value="Option 3">Entertainment: Music</option>
    <option value="Option 3">Entertainment: Television</option>
    <option value="Option 3">Geography</option>
    <option value="Option 3">History</option>
    <option value="Option 3">Science: Computers</option>
    <option value="Option 3">Sports</option>
  </select>
  <a class="button" id="start-btn" href="#">Start!</a>
</div>
