<nav>
  <a class="home" href="/"><img class="icon" src="http://i.imgur.com/PgxrRFA.png?1" alt="home"></a>
  <a class="menu" href="/user"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/browse"><img class="icon" src="http://i.imgur.com/DtKBRC0.png?1" alt="browse"></a>
</nav>
<div class="main-div container">
  <h1 class="fadeIn page-title">{{ title }}</h1>

  <form method="GET">
    <select id="categories" name="category" required>
      <option value="9">General Knowledge</option>
      <option value="29">Entertainment: Comics</option>
      <option value="12">Entertainment: Music</option>
      <option value="14">Entertainment: Television</option>
      <option value="22">Geography</option>
      <option value="23">History</option>
      <option value="18">Science: Computers</option>
      <option value="21">Sports</option>
    </select>
    <select id="playerMode" name="playerMode" required>
      <option value="selectOne"><span class="select-cat">Player Mode:</span></option>
      <option value="Single Player">Single Player</option>
      <option value="Multiplayer">Multiplayer</option>
    </select>
    <br>
    <button class="game-btn button" id="startBtn">Create</button>
  </form>

  <span>- or -</span>

  <br><br>
  <form method="GET" action="/join">
    <button class="game-btn button" id='joinBtn'>Join</button>
  </form>

</div>
