/**/
body {
  margin-top: 2%;
}
.mc-list {
/*  display: block;
  width: 50%;
  min-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;*/
  list-style: none;
}
.green {
  background-color: palegreen;
}
.red {
  background-color: lightcoral;
}
